body {
  margin: 0;
  font-family: 'N27 Regular' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'N27 Italic';
}

@font-face {
  font-family: 'N27 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('N27 Regular'), url('assets/N27-Regular.woff') format('woff');
  }

@font-face {
  font-family: 'N27 Italic';
  font-style: normal;
  font-weight: normal;
  src: local('N27 Regular Italic'), url('assets/N27-RegularItalic.woff') format('woff');
  }
