.img-box {
    height: 25vw;
    position: relative;
    }
    
    .img-box img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    
    .img-box h2 {
        position: absolute;
        color: white;
        top: 10%;
        left: 10%;
        text-align: left;
    }