* {
  font-family: 'N27 Regular', sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --text-color: #000a2e;
  --bg-color: #f9fafd;
}

.app {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.3s, background-color 0.3s;
}

.app.dark {
  --text-color: #f9fafd;
  --bg-color: #000a2e;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 16px !important;
}
.tarjeta{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarjeta img{
  height: auto;
  width: auto; 
  max-width: 22rem; 
  max-height: 22rem;
  margin: 0 1rem 1rem 0;
}

.timer{
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.timer *{
  padding: 0.5rem;
}
.text{
  font-weight: 800;
}

.webcamWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.webcam{
  border-radius: 10px;
}

.Button {
  margin: 5px 0;
  background-color: #ffb400;
  color:#000a2e;
  font-size: medium;
  font-weight: 600;
  height: 3rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.Button img{
  height: 100%;
}
.Button h2{
  margin: 0px;
  padding: 0.5rem;
  font-size: 2rem;
  color:#001e5f
}
.Button:hover {
  background-color: #ffb400b8 !important;
  color: #003caa;
}

.Input {
  margin: 5px 0;
  height: 3rem;
  font-size: large;
}

.Header {
  background-color: #001e5f;
  color: #f9fafd;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header img {
    width: 400px;
    height: auto;
    border-radius: 15px;
}

.Footer {
  background-color: #001e5f;
  color: #f9fafd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  background-color: #f9fafd !important;
  font-size: 24px;
  font-weight: bold;
  color: #000a2e;
}
.Content {
  font-size: 20px;
  padding: 2vh;
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}
.Error{
  background-color: #f9fafd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Error h1{
  font-size: 100px;
}
.ant-layout-sider {
  border-color: var(--text-color) !important;
  background-color: var(--text-color) !important;
  color: var(--bg-color);
}
.ant-menu-item {
  color: var(--bg-color) !important;
}
.ant-menu-item-selected {
  color: var(--text-color) !important;
  background-color: #003caa !important;
}

.Sidebar {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 5px;
}

.Container {
  min-height: 90vh;
  background-color: var(--bg-color);
}

.paymentSteps{
  padding: 2rem;
}

.ContentLayout{
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap:24px;
  margin-inline: auto;
  justify-content: center;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  }
  .ImageContainer img {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .Image{
    width: 100%;
  }

.Grid {
  display: flex;
  justify-content: center;
  height: 100%;
}

.col-1 {
  background-color: #000a2e;
  color: #000a2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  position: relative; 
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/fondo_login.png');
  background-size: cover;
}
.wrapper::before{
  content:"";
  position: absolute;
  inset: 0;
  background-color: #000a2e;
  opacity: 0.8;
}
.wrapper img{
  position: relative;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-2 > .col-2-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

h1{
  color:#ffb400;
  margin: 20px 0px 5px 0px;
}
h2{
  color:#003caa;
  margin: 20px 0px 5px 0px;
}
p{
  font-weight: lighter;
  margin: 5px 0px 10px 0px;
}

.Color{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #000a2e;
  height: 20vh;
  border-radius: 10px;
}

.ant-card {
  font-size: medium;
  font-weight: lighter;
}
.ant-card h1 {
  color:#ffb400;
  font-size: xxx-large;
}
.DeluxeCard{
  background-color: #ffb400;
  color:#001e5f;
}
.DeluxeCard .ant-card-head-title, .DeluxeCard h1 {
  color:#001e5f;
}

.Card{
  background-color:#001e5f;
  color:#f9fafd;
}
.Card .ant-card-head-title {
  color:#f9fafd;
}

.spacer{
  flex-grow: 1;
}

h3{
  font-size: 25px;
}
.webcamWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.webcam{
  border-radius: 10px;
}
h4{
  margin-top: 10px;
  font-weight: normal;
  color:#003caa;
}

.tipography{
  font-size: 20vh;
  margin: -30px 0px -30px 0px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #000a2e;
  border-radius: 10px;
  position: relative;
  }
  .logo-box img {
    width: 100%;
    height: auto;
    padding: 5%;
  }

.img-box {
  height: 25vh;
  position: relative;
  background-image: url('./assets/fondo.png');
  background-size: cover;
  border-radius: 15px;
  }
  .img-box::before {
    content:"";
    position: absolute;
    inset: 0;
    background-color: #000a2e;
    opacity: 0.6;
    border-radius: 15px;
  }
  .img-box h1,.img-box h3 {
    position: relative;
    color: #ffb400;
    font-size: 10rem;
    top: -10%;
    left: 10%;
    text-align: left;
  }
  .img-box h3 {
    top: -20%;
    color: #f9fafd;
    font-size: 2.5rem;
  }

.loginButtons{
  padding: 1rem;
}
.loginButtons input{
  background-color: #ffb400;
  border-radius: 5px;
  height: 2rem;
  margin-right: 1rem;
  width: 10rem;
}

.padding-top{
  padding: 1rem 0;
}
.confirm-plan{
  display: flex;
  justify-content: left;
  align-items: center;
}
.pre-next-buttons{
  display: flex;
  justify-content: center;
}
.pre-next-buttons .ant-btn{
  margin: 0 0.5rem 0 0;
}
.ant-select{
  min-width: 180px;
}

.contentStyle {
  line-height: '260px';
  text-align: 'center';
  color: var(--text-color) !important;
  background-color: var(--bg-color);
  margin: 0 2rem;
}

@font-face {
  font-family: 'N27 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('N27 Regular'), url('assets/fonts/N27-Regular.woff') format('woff'), 
  url('assets/fonts/N27-Regular.woff2') format('woff2'),
  url('assets/fonts/N27-Regular.ttf') format('truetype'),
  url('assets/fonts/N27-Regular.eot') format('eot');
  }