body {
  font-family: N27 Regular, sans-serif;
  background-color: #090082;
}

@font-face {
  font-family: 'N27 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('N27 Regular'), url('assets/fonts/N27-Regular.woff') format('woff'), 
  url('assets/fonts/N27-Regular.woff2') format('woff2'),
  url('assets/fonts/N27-Regular.ttf') format('truetype'),
  url('assets/fonts/N27-Regular.eot') format('eot');
  }